.addNotification {
  background-color: lightgray;
  padding: 10px;
  border: solid 3px green;
  border-radius: 5px;
  color: green;
  font-weight: bold;
}

.error {
  background-color: lightgray;
  padding: 10px;
  border: solid 3px red;
  border-radius: 5px;
  color: red;
  font-weight: bold;
}